<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let new of news" [routerLink]='["/news-detail", new?.id]'>
    <ion-item>
      <ion-avatar slot="start" *ngFor="let item of new['_embedded']['wp:featuredmedia']">
        <ion-img src="{{item.source_url}}"></ion-img>
      </ion-avatar>
      <ion-label *ngIf="new">
        <h2>{{new.title.rendered}}</h2>
        <h3>{{new.date | date :'dd/MM/yyyy HH:mm'}}</h3>
      </ion-label>

    </ion-item>
  </ion-list>
</ion-content>